<!DOCTYPE html>
<html lang="en">
<head>
    <!-- // include meta file using template engine & (partial)-->
    <%- include("../partial/meta.ejs") %>
    <title><%= title %></title>
</head>
<body>
    <!-- // include meta file using template engine & (partial)-->
    <%- include("../partial/data.ejs") %>
    <div class="index">
        hi this is index page file
        <a href="/download">Download this file</a>
    </div>
</body>
</html>